# CI for Product Catalog Service

name: product-catalog-ci

on: 
    pull_request:
        branches:
        - main

jobs:
    build:
       runs-on: ubuntu-latest
       steps:
       - name: checkout code
         uses: actions/checkout2v4
         
       - name: setup go 1:22
         uses: actions/setup-go@v2
         with:
            go-version: 1.22
       - name: build
         run: |
          cd src/product-catalog
          go mod download
          go build -v -o product-catalog-service main.go

       - name: run tests
         run: |
          cd src/product-catalog
          go test ./... 

    quality-test:
      runs-on: ubuntu-latest

      steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup go 1.22
        uses: actions/setup-go@v2
        with:
          go-version: 1.22

      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          run: golangci-lint run
          working-directory: src/product-catalog


    docker:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions?checkout@v4

        - name: install docker buildx
          uses: docker/setup-buildx-action@v2
        
        - name: login to docker hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: build and push to docker hub
          uses: dokcer/build-push-action@v4
          with:
            context: src/product-catalog
            file: src/product-catalog/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{ github.run_id}}

    updatek8s:
        runs-on: ubuntu-latest

        needs: docker

        steps:
        - name: checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml
        
        - name: Commit and push changes
          run: |
            git config --global user.email "sujash.nagarkoti803@gmail.com"
            git config --global user.name "SujashNagarkoti"
            git add kubernetes/productcatalog/deploy.yaml
            git commit -m "[CI]: Update product catalog image tag"
            git push origin HEAD:main -f

        
        
          


        